
<%= form_with(model: team) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label class="label">Team Name</label>
    <%= form.text_field :name, type: "input", class: "input" %>
  </div>

  <div class="field">
    <label class="label">Description</label>
    <%= form.rich_text_area :description, class: "textarea" %>
  </div>

  <div class="actions columns">
    <div class="column">
      <%= form.submit :submit, class: "button is-link" %>
    </div>
    <div class="column">
      <%= link_to 'Back', teams_path, class: "button is-light redirect-link" %>
    </div>
  </div>
<% end %>
