<p id="notice"><%= notice %></p>

<div class="container is-fluid" style="margin-top: 3rem;">
  <div class="columns is-multiline" style="justify-content: center; align-items: center;">
    <%= button_to("Create Team", new_team_path, class: "button", method: :get, style: "width: 15rem; background-color: #8080ff") %>
  </div>

  <div class="columns is-multiline">

    <% @teams.each do |team| %>
      <div class="column is-one-quarter">
        <div class="card p-3" style="height: 30rem;">
          <div class="card-image mb-4 is-relative">
            <img class="image is-fullwidth is-rounded is-cover" style="height: 155px;" src="https://images.businessnewsdaily.com/app/uploads/2022/04/04074130/teamwork_g-stockstudio_getty.jpg" alt="alt" data-config-id="image1">
          </div>
          <div class="card-content">
            <div class="content is-flex is-justify-content-space-between is-align-items-center">
              <div>
                <h3 class="title is-size-6 mb-1" data-config-id="title1"> <%= team.name %> </h3>
                <span class="subtitle" style="font-size: 12px;" data-config-id="desc1"> project name </span>
              </div>
            </div>
            <div class="content mb-1 is-flex is-justify-content-space-between is-align-items-center">
              <h4 class="mb-0" style="font-size: 12px;" data-config-id="label1-1">Total Memeber</h4>
              <span class="tag is-success is-light" data-config-id="val1-1"> <%= team.users.count %> </span>
            </div>
            <div class="content mb-1 is-flex is-justify-content-space-between is-align-items-center">
              <h4 class="mb-0" style="font-size: 12px;" data-config-id="label1-2">Started Date</h4>
              <span class="tag is-danger is-light" data-config-id="val1-2"><%= team.created_at %></span>
            </div>
            <div class="content mb-0 is-flex is-justify-content-space-between is-align-items-center">
              <h4 class="mb-0" style="font-size: 12px;" data-config-id="label1-3">Last Change</h4>
              <span class="has-text-primary" style="font-size: 12px;" data-config-id="val1-3"><%= team.updated_at %></span>
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-item" style="width: 100%;">
              <div class="is-flex is-justify-content-space-between is-align-items-center" style="width: 100%;">
                <div class="is-flex is-align-items-center">
                  <% team.users.each do |user| %>
                  <img class="image is-32x32 is-cover" style="border-radius: 50% !important;" src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;crop=faces&amp;fit=crop&amp;h=128&amp;w=128" alt="alt" data-config-id="image1-1">
                  <% end %>
                </div>
                <%= link_to 'Show', team, class: "button is-primary ml-auto" %>
              </div>
            </div>
          </div>
        </div>
      </div>

    <% end %>

  </div>
</div>
<br>

<%#= team.name %>
<!--<td><%#= team.description %></td>-->
<!--<td><%#= link_to 'Show', team %></td>-->
<!--<td><%#= link_to 'Edit', edit_team_path(team) %></td>-->
<!--<td><%#= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->

