<p id="notice"><%= notice %></p>

<div class="container" style="width: 50%">
  <div class="column is-one-quarter" style="width: 45rem">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          <%= @team.name %><br>
          <%= link_to('Remove', exit_team_path, method: :delete) if @team.users.exists?(current_user.id)%>
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          <%= @team.description %>
        </div>
        <div class="content">
          <%= @team.users.count %>
        </div>
      </div>
      <footer class="card-footer">
        <%= @associate_user ? link_to('View Members', view_team_path(@team), class: "card-footer-item redirect-link") :
              link_to('Join the team', join_path(@team), class: "card-footer-item redirect-link") %>
        <%= link_to("Show", team_path(@team), class: "card-footer-item redirect-link") %>
        <%= link_to("Edit", edit_team_path(@team), class: "card-footer-item redirect-link") %>
      </footer>
    </div>
  </div>

</div>