<div class="container content" style="margin-top: 5%; height: 30rem;">
  <div class="container" style="width: 50%;">
    <h3 style="text-align: center">Sign Up</h3>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <%= f.email_field :email, class: "input is-normal", type: "email", placeholder: "Email" %>
        </p>
      </div>

      <div class="field">
        <p class="control has-icons-left">
          <%= f.password_field :password, class: "input", type: "password", placeholder: "Password" %>
        </p>
      </div>

      <div class="field">
        <p class="control has-icons-left">
          <%= f.password_field :password_confirmation, class: "input", type: "password", placeholder: "Password Confirmation" %>
          <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        </p>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "button is-primary is-rounded", style: "margin-left: 40%" %>
      </div>
    <% end %>
  </div>
</div>


<%= render "devise/shared/links" %>



<!DOCTYPE html>
<!-- saved from url=(0014)about:internet -->
<html dir="ltr" lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dashkit - Signup</title>

  <!-- Google Tag Manager -->

  <!-- End Google Tag Manager -->

  <script async="" src="./Dashkit - Signup_files/gtm.js.download"></script><script src="./Dashkit - Signup_files/lmplkzhV3pH6fdNUw6kpmpBQ68Q.js.download"></script><script src="./Dashkit - Signup_files/bk49Jlp28zhBsASAQTdaK0isVBE.js.download"></script><link rel="icon" type="image/png" href="https://dashkit.cssninja.io/img/favicon.png">
  <link rel="preconnect" href="https://fonts.gstatic.com/">
  <link href="./Dashkit - Signup_files/css2" rel="stylesheet">
  <link href="./Dashkit - Signup_files/css" rel="stylesheet">
  <link rel="stylesheet" href="./Dashkit - Signup_files/login.b6abaead.css"><script type="module" src="./Dashkit - Signup_files/hoisted.c4417597.js.download"></script></head>

<body x-data="initTheme()" :class="{
      &#39;is-dark&#39;: $store.app.isDark,
      &#39;&#39;: !$store.app.isDark
    }" class>
<script src="./Dashkit - Signup_files/gtm.js(1).download" async=""></script><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PV65Z24" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!--page partial-->


<div class="auth-wrapper columns is-gapless">
  <!-- Form section -->
  <div class="column is-5">
    <div class="hero is-fullheight form-login-hero">
      <div class="hero-heading">
        <div class="auth-logo mobile:text-centered">
          <a href="https://dashkit.cssninja.io/">
            <img class="light-image-block top-logo" src="./Dashkit - Signup_files/dashkit-violet.svg" alt="">
            <img class="dark-image-block top-logo" src="./Dashkit - Signup_files/dashkit-violet-dark.svg" alt="">
          </a>
        </div>
      </div>
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-12">
              <div class="auth-content">
                <h2>Join Us Now.</h2>
                <p>Start by creating your account</p>
                <a href="https://dashkit.cssninja.io/login">I already have an account</a>
              </div>
              <div class="auth-form-wrapper">
                <!-- Login Form -->
                <form>
                  <div id="signin-form" class="login-form">
                    <!-- Input -->
                    <div class="field">
                      <div class="control has-icon">
                        <input class="input" type="text" placeholder="Username">
                        <span class="form-icon">
                            <i data-feather="user"></i>
                          </span>
                      </div>
                    </div>
                    <!-- Input -->
                    <div class="field">
                      <div class="control has-icon">
                        <input class="input" type="text" placeholder="Email Address">
                        <span class="form-icon">
                            <i data-feather="mail"></i>
                          </span>
                      </div>
                    </div>
                    <!-- Input -->
                    <div class="field">
                      <div class="control has-icon">
                        <input class="input" type="password" placeholder="Password">
                        <span class="form-icon">
                            <i data-feather="lock"></i>
                          </span>
                      </div>
                    </div>
                    <!-- Input -->
                    <div class="field">
                      <div class="control has-icon">
                        <input class="input" type="password" placeholder="Repeat Password">
                        <span class="form-icon">
                            <i data-feather="lock"></i>
                          </span>
                      </div>
                    </div>

                    <div class="setting-item is-flex is-align-items-center">
                      <label class="f-switch is-primary">
                        <input type="checkbox" class="is-switch" id="busy-mode-toggle">
                        <i></i>
                      </label>
                      <div class="setting-meta">
                        <span class="is-font text-light">Receive promotional offers</span>
                      </div>
                    </div>

                    <!-- Submit -->
                    <div class="control login">
                      <button class="button is-secondary is-medium is-raised is-fullwidth">
                        Sign Up
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Image section (hidden on mobile) -->
  <div class="column login-column is-7 is-hidden-mobile hero-banner has-image">
    <div class="hero login-hero is-fullheight">
      <div class="hero-body">
        <div class="columns">
          <div class="column is-10 is-offset-1">
            <img class="signup-image" src="./Dashkit - Signup_files/apps-slant.png" alt="">
          </div>
        </div>
      </div>
      <div class="hero-footer">
        <p class="has-text-centered"></p>
      </div>
    </div>
  </div>
</div>


<!--Back to top-->
<div class="progress-wrap is-hidden" x-data="initBackToTop()" x-init="setup()" x-on:scroll.window="scroll()" x-bind:class="{
        &#39;active-progress&#39;: scrolled,
        &#39;&#39;: !scrolled,
        }" x-on:click="scrollTop()">
  <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
  </svg>

  <svg class="inner-arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <line x1="12" y1="19" x2="12" y2="5"></line>
    <polyline points="5 12 12 5 19 12"></polyline>
  </svg>
</div>


