<div class="container content" style="margin-top: 5%; height: 30rem;">
  <div class="container" style="width: 50%;">
    <h3 style="text-align: center">Sign Up</h3>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <%= f.email_field :email, class: "input is-normal", type: "email", placeholder: "Email" %>
        </p>
      </div>

      <div class="field">
        <p class="control has-icons-left">
          <%= f.password_field :password, class: "input", type: "password", placeholder: "Password" %>
        </p>
      </div>

      <div class="field">
        <p class="control has-icons-left">
          <%= f.password_field :password_confirmation, class: "input", type: "password", placeholder: "Password Confirmation" %>
          <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        </p>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "button is-primary is-rounded", style: "margin-left: 40%" %>
      </div>
    <% end %>
  </div>
</div>


<%= render "devise/shared/links" %>
