<div class="container">
  <%= form_with(model:[@project,task]) do |form| %>
    <% if task.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

        <ul>
          <% task.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :title, class: "label" %>
      <%= form.text_field :title, type: "input", class: "input", required: true %>
    </div>

    <div class="field">
      <%= form.label :description, class: "label" %>
      <%= form.text_area :description, class: "textarea", required: true %>
    </div>

    <div class="field">
      <%= form.label :Estimation_in_Hours, class: "label" %>
      <%= form.number_field :estimation, type: "input", class: "input", required: true %>
    </div>

    <div class="field">
      <%= form.label :status, class: "label" %>
      <%= form.radio_button :status,"IN PROGRESS" %> In Progess <br/>
      <%= form.radio_button :status,"YET TO START" %> Yet to Start <br/>
      <%= form.radio_button :status,"COMPLETED" %> Completed <br/>

    </div>

    <div class="field">
      <%= form.label :Choose_user_to_assign,class:"label" %>
      <%= form.select :assigned_user, @users, class:"input" %>
    </div>

    <div class="field">
      <%= form.text_field :project_id, type: "input", type: "hidden" %>
    </div>

    <div class="actions columns">
      <div class="column">
        <%= form.submit :submit, class: "button is-link" %>
      </div>

      <div class="column">
        <%= link_to('Back', root_path, class: "button is-light redirect-link") %>
      </div>
    </div>
  <% end %>

</div>