
<br>
<div class="container content" style="height: 35rem;">
  <div class="card" style="margin-top: 3rem;">
    <div class="columns is-multiline" style="justify-content: center; align-items: center;">
      <%= button_to("New Task", new_project_task_path(@project), class: "button", method: :get, style: "width: 15rem; background-color: #8080ff") %>
      <button class="button notify_developers" style="width: 15rem; background-color: orange">Notify</button>
    </div>
    <div class="table-responsive text-nowrap" style="height: 25rem; justify-content: center;">
      <table class="table" style="text-align: left;">
        <thead class="table-light">
        <tr>
          <th>Task Name</th>
          <th>Description</th>
          <th>Project</th>
          <th>Status</th>
          <th>Actions</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody class="table-border-bottom-0">
        <% @tasks.each do |task| %>

          <tr style="justify-content: center;" >
            <td><strong> <%= task.title %> </strong></td>
            <td>Description</td>
            <td> <%= task.project.title %> </td>
            <td>
              <% if task.status.downcase == 'in progesss' %>
                <span class="badge bg-label-primary me-1"> <%= task.status %> </span>
              <% elsif task.status.downcase == 'completed' %>
                <span class="badge bg-label-success me-1"> <%= task.status %> </span>
              <% elsif task.status.downcase == 'yet to start' %>
                <span class="badge bg-label-warning me-1"> <%= task.status %> </span>
              <% else %>
                <span class="badge bg-label-danger me-1"> <%= task.status %> </span>
              <% end %>
            </td>
            <td>
              <div class="dropdown is-small ">
                <div class="dropdown is-hoverable">
                  <div class="dropdown-trigger">
                    <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu4">
                      <span class="icon is-small"> <i class="fas fa-angle-down" aria-hidden="true"></i> </span>
                    </button>
                  </div>
                  <div class="dropdown-menu is-small" id="dropdown-menu4" role="menu">
                    <div class="dropdown-content">
                      <div class="dropdown-item">
                        <%= link_to project_task_path(@project,task), class: "dropdown-item" do %>
                          <i class="bx bx-edit-alt me-1"></i> <span>Show</span>
                        <% end %>

                        <%= link_to edit_project_task_path(@project,task), class: "dropdown-item" do %>
                          <i class="bx bx-edit-alt me-1"></i> <span>Edit</span>
                        <% end %>

                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </td>
          <td>
            <%= link_to "Delete",project_task_path(@project,task), method: :delete, data: { confirm: 'Are you sure?' }%>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to "Analytics", analytics_path(@project),class:"btn" %>


  <script>
    $('.notify_developers').on('click', function(){
        alert('Button Clicked')
        $.ajax({
            type: "GET",
            url: 'http://localhost:3000/notify_users',
            data: { project_id: <%= @project.id %>},
            success: function(data){
                alert('Email sent successfully');
            },
            error: function(data, err){
                alert('Error occured');
            }
        })
    })
  </script>