<div class="container is-max-desktop" style="margin-top: 2rem">

  <article class="message is-info">
    <div class="message-header">
      <%= @task.title %> | <%= @task.project.title %>
      <span>
      <%= @task.status %>
    </span>
      <%= link_to('', project_tasks_path(@project), class: "delete") %>
    </div>
    <div class="message-body">
      <%= @task.description %>
    </div>
  </article>

</div>