<div class="columns">
  <div class="column">
    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
  </div>

  <div class="column">
    <canvas id="pieChart" style="width:100%;max-width:600px"></canvas>
  </div>
</div>

<script>
    const xValues = ["In-Progress", "Yet to Start", "Completed"];
    const yValues = [<%= @in_progress.count %>,<%= @yet_to_start.count %>,<%= @completed.count %>];
    var barColors = [
        "#b91d47",
        "#00aba9",
        "#2b5797",
    ];

    new Chart("pieChart", {
        type: "pie",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            title: {
                display: true,
                text: "Task Progress"
            }
        }
    });

    const xValuess = ["1hrs","2hrs","3hrs","4hrs","5hrs"];
    const yValuess = [<%= @task_with_one_hours.count %>,<%= @task_with_two_hours.count %>,<%= @task_with_three_hours.count %>,<%= @task_with_four_hours.count %>,<%= @task_with_five_hours.count %>];

    console.log("Hello")
    console.log(yValuess)

    new Chart("myChart", {
        type: "line",
        data: {
            labels: xValuess,
            datasets: [{
                fill: false,
                lineTension: 0,
                backgroundColor: "rgba(0,0,255,1.0)",
                borderColor: "rgba(0,0,255,0.1)",
                data: yValuess
            }]
        },
        options: {
            legend: {display: false},
            scales: {
                yAxes: [{ticks: {min: 0, max: 20}}],
            },
            title: {
                display: true,
                text: "Task Estimation (in hours)"
            }
        }
    });

</script>