<div class="container content" style="margin-top: 5%; height: 30rem;">
  <div class="container" style="width: 50%;">
    <%= form_with(model:[@topic,post]) do |form| %>
      <% if post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
          <ul>
            <% post.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.text_field :topic_id, type: 'hidden' %>
      </div>

      <div class="field">
        <%= form.number_field :user_id, value: current_user.id, type: 'hidden' %>
      </div>

      <div class="field">
        <label class="label">Title</label>
        <%= form.text_field :title, class: 'input is-normal', required: true %>
      </div>

      <div class="field">
        <label class="label">Description</label>
        <%= form.rich_text_area :body, class: '', required: true %>
      </div>

      <div class="columns">
        <div class="column">
          <%= form.submit 'Create Post', class: 'button is-primary is-rounded' %>
        </div>
        <div class="column">
          <%= link_to "Back", topic_posts_path(@topic) ,class: "button is-rounded redirect-link", style: "margin-left: 40%" %>
        </div>
      </div>

    <% end %>
  </div>
</div>
