<div class="columns">
  <div class="container profile">
    <% # Edit Preferences Modal Start %>
    <div class="modal" id="edit-preferences-modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Edit Preferences</p>
          <button class="delete"></button>
        </header>
        <% # Edit Preferences Modal End %>
      </div>
    </div>
    <div class="section profile-heading">
      <div class="columns is-mobile is-multiline">
        <div class="column is-2">
          <span class="header-icon user-profile-image">
            <img src="http://placehold.it/300x225", style="border-radius: 1rem"/>
          </span>
        </div>
        <div class="column is-4-tablet is-10-mobile name">
          <p>
            <span class="title is-bold">
              <%= @created_user.email %>
            </span>
            <br/>
            <% if current_user.id == @created_user.id %>
              <%= link_to('Edit Profile', edit_user_registration_path, class: 'button is-primary is-outlined', style: 'margin: 5px 0') %>
            <% end %>

            <br/>
          </p>
          <p class="tagline">
            The users profile bio would go here, of course. It could be two lines or more or whatever. We should probably limit the amount of characters to ~500 at most though.
          </p>
        </div>
        <div class="column has-text-centered">
          <p class="stat-val"> <%= @posts_by_user.count %> </p>
          <p class="stat-key">Posts</p>
        </div>
        <div class="column">
          <p class="stat-val">10</p>
          <p class="stat-key">likes</p>
        </div>
      </div>
    </div>
    <div class="profile-options is-fullwidth">
      <div class="tabs is-fullwidth is-medium">

      </div>
    </div>
    <div class="box" style="border-radius: 10px; width: 50rem; display: flex; justify-content: center; margin-left: 15rem">
      <!-- Main container
      -->
      <h1 class="content is-medium" style="text-align: center;">Posts by <%= @created_user.email %> </h1>
    </div>
    <div class="container is-fluid">
      <div class="columns is-multiline">
      <% count = 1 %>
      <% @posts_by_user.each do |post| %>
        <div class="column is-one-quater">
            <div class="card" style="width: 20rem">
              <div class="card-image">
<!--                <figure class="image is-4by3">-->
<!--                  <img src="http://placehold.it/300x225"/>-->
<!--                </figure>-->
              </div>
              <div class="card-content">
                <div class="content">
                  <span class="tag is-dark subtitle">
                    #<%= count %>
                  </span> |
                  <span class="tag subtitle">
                    <%= post.topic.name %>
                  </span>
                  <span class="tag subtitle">
                    <%= post.updated_at.strftime("%D") %>
                  </span>
                  <p style="text-align: left;">
                    <%= truncate(post.body.to_plain_text, length: 220) %>
                  </p>
                </div>
              </div>
              <footer class="card-footer">
                <a class="card-footer-item">Share</a>
                <% if current_user.id == @created_user.id %>
                  <%= link_to('Edit', edit_topic_post_path(@topic, @post),class: 'card-footer-item') %>
                  <a class="card-footer-item">Delete</a>
                <% end %>
              </footer>
            </div>
            <br/>
          </div>
        <% count = count+1 %>
      <% end %>
      </div>
    </div>
  </div>
</div>
