<div class="card" style="margin-top: 3rem;">
  <div class="columns is-multiline" style="justify-content: center; align-items: center;">
    <%= button_to("New Project", new_project_path, class: "button", method: :get, style: "width: 15rem; background-color: #8080ff") %>
  </div>
  <div class="table-responsive text-nowrap" style="height: 25rem; justify-content: center;">
    <table class="table" style="text-align: left;">
      <thead class="table-light">
      <tr>
        <th>Title</th>
        <th>Client</th>
        <th>Lead</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        <% projects.each do |project| %>
          <tr style="justify-content: center;" >
            <td><strong> <%= project.title %> </strong></td>
            <td>Albert Cook</td>
            <td>
              <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center" style="list-style: none;">
                <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" title="Naveen">
                  <img src="../assets/img/avatars/5.png" alt="Avatar" class="rounded-circle" />
                </li>
                <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" title="Vennkat">
                  <img src="../assets/img/avatars/7.png" alt="Avatar" class="rounded-circle" />
                </li>
                <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" title="Ram">
                  <img src="../assets/img/avatars/5.png" alt="Avatar" class="rounded-circle" />
                </li>
                <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" title="Vaithi" >
                  <img src="../assets/img/avatars/7.png" alt="Avatar" class="rounded-circle" />
                </li>
              </ul>
            </td>
            <td><span class="badge bg-label-primary me-1">Active</span></td>
            <td>
              <div class="dropdown">
                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                  <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu">
                  <%= link_to project, class: "dropdown-item" do %>
                    <i class="bx bx-edit-alt me-1"></i> <span>Show</span>
                  <% end %>

                  <%= link_to edit_project_path(project), class: "dropdown-item" do %>
                    <i class="bx bx-edit-alt me-1"></i> <span>Edit</span>
                  <% end %>

                  <%= link_to project, method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" do %>
                    <i class="bx bx-trash me-1"></i> <span>Delete</span>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
