<!DOCTYPE html>
<html>
  <head>
    <title>Final</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "css/pages/page-account-settings.css" %>
    <%= stylesheet_link_tag "css/pages/page-auth.css" %>
    <%= stylesheet_link_tag "css/pages/page-icons.css" %>
    <%= stylesheet_link_tag "css/pages/page-misc.css" %>
    <%= stylesheet_link_tag "css/core.css" %>
    <%= stylesheet_link_tag "css/demo.css" %>
    <%= stylesheet_link_tag "css/theme-default.css" %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--    Bootstrap-->

<!--    jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>


<!--    tables-->
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

    <script src="../assets/vendor/js/helpers.js"></script>
    <script src="../assets/js/config.js"></script>
<!--    tables end-->

<!--    style-->

    <style>
        .redirect-link:hover{
            background-color: white;
        }
        .identifier {
            position: absolute;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: #94DACD;
            margin-top: 5.5px;
            margin-left: 7.5px;
            -webkit-animation: exit 3s ease-in-out infinite;
            animation: exit 3s ease-in-out infinite;
        }
        .notification {
            height: 4rem;
            width: 50%;
            background-color: #C1F7EE;
            margin-left: 25%;
            transform-origin: right;
            /*-webkit-animation: notify 3s ease-in-out infinite;*/
            /*animation: notify 3s ease-in-out infinite;*/
            z-index: 1;
            position: absolute;
        }
    </style>

<!--    style end-->
  </head>

  <body style="background-color: white">

  <%= render('layouts/partials/home_nav') %>
  <div id="notification"">
    <% if notice %>
      <p class="notice notification is-primary" id="notify-alert"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert notification is-danger" id="notify-alert"><%= alert %></p>
    <% end %>
  </div>

    <div style=" margin-top: 2rem;
      top: 0;
      width: 100%;">
      <%= yield %>
    </div>

  <%#= render('layouts/partials/tables') %>


<!--  scripts-->

  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){
          dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-130795909-1');

      if($("#notification").children().length > 0) {
          $(".notification").fadeOut(5000);
      }
  </script>

<!--    <script src="../assets/vendor/libs/jquery/jquery.js"></script>-->
<!--    <script src="../assets/vendor/libs/popper/popper.js"></script>-->
<!--    <script src="../assets/vendor/js/bootstrap.js"></script>-->
<!--    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>-->

<!--    <script src="../assets/vendor/js/menu.js"></script>-->
    <!--  scripts-->
  </body>

</html>
